@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-12 text-justify">
            <h1>Introduction</h1>
            <p>
                The purpose of LeetCode is to provide hands-on training on real coding algoritms questions.
                The Online Judge gives immediate feedback on the correctness and efficiency of algorithm which facilitates a great learning experience.
                It's great space  to improve mindset in resolving of logic iessues using c#. It's a little solution I create for self-education, just to practice my logic mind way.
                Below you can see algorithms that I have solved.
            </p>
        </div>
    </div>
    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="active"><a href="javascript:;">Home <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li><a href="javascript:;">About<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li><a href="javascript:;">Products<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    <li><a href="javascript:;">FAQ<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </nav>
        </div>

        <div class="col-sm-8 text-left">
            <h2>Task description:</h2>
            <p></p>
            <h2>Decision:</h2>
            <p></p>
            <hr>
        </div>
    </div>

</div>
